*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #24303e;
}

h2, h3, h4 {
    font-family: "Fraunces", serif;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    color: #a7aaad;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    background: url("images/mobile/image-header.jpg") center bottom;
    background-size: cover;
    padding: 2em 1.5em;
    position: relative;
}

.logo {
    float: left;
}

.nav-toggle {
    float: right;
}

nav {
    position: absolute;
    left: 1.5em;
    right: 1.5em;
    top: 6.625em;
    display: none;
}

nav.open {
    display: block;
    z-index: 1;
}

nav ul {
    background: white;
    font-size: 2rem;
    line-height: 1.25;
    padding: 2em;
}

nav ul::before {
    content: "";
    position: absolute;
    top: -1.5em;
    right: 0;
    border-right: 0.75em solid white;
    border-bottom: 0.75em solid white;
    border-top: 0.75em solid transparent;
    border-left: 0.75em solid transparent;
}

nav li:not(:last-of-type) {
    margin-bottom: 1.6em;
}

nav a {
    color: #808397;
}

.contact-button {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.67;
    text-transform: uppercase;
    background: #fbd600;
    display: inline-block;
    padding: 1.1em 2.1em;
    border-radius: 1.67em;
}

h1 {
    font-family: "Fraunces", serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    color: white;
    margin: 2.8em 0 6.6em;
}

.arrow {
    position: absolute;
    height: 113px;
    width: 0;
    border-left: 6px solid white;
    border-radius: 6px;
    bottom: 8.5em;
    left: 50%;
}

.arrow::before {
    content: "";
    position: absolute;
    width: 0;
    height: 25px;
    border-left: 6px solid white;
    border-radius: 6px;
    transform: rotate(-45deg);
    bottom: -4px;
    left: -13px;
}

.arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 25px;
    border-left: 6px solid white;
    border-radius: 6px;
    transform: rotate(45deg);
    bottom: -4px;
    left: 1px;
}

main {
    display: grid;
}

main img {
    display: block;
    width: 100%;
}

main p {
    font-size: 1.8rem;
    color: #808397;
    line-height: 3rem;
    margin: 1.33em 0 1.78em;
}

main a {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 0 0.5em;
}

main a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: -1px;
    left: 0;
    border-radius: 4px;
    z-index: -1;
    opacity: 0.25;
}

main a:hover::before,
main a:focus::before {
    opacity: 1;
}

.transform-brand, .stand-out {
    padding: 4em 1.5em;
}

.transform-brand a::before {
    border: 4px solid #fad400;
}


.stand-out a::before {
    border: 4px solid #fe7766;
}

.graphic-design {
    background: url("images/mobile/image-graphic-design.jpg") no-repeat top center;
    background-size: cover;
    padding: 24.875em 1.5em 3.75em;
}

.graphic-design p, .photography p {
    font-size: 1.6rem;
    line-height: 2.7rem;
    letter-spacing: -0.11px;
    color: #24554a;
    margin: 1.68em 0 0;
}

.photography {
    background: url("images/mobile/image-photography.jpg") no-repeat top center;
    background-size: cover;
    padding: 24.875em 1.5em 3.75em;
}

.testimonials {
    padding: 4em 1.5em 5.375em;
}

.testimonials ul {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.testimonials img {
    width: 4.625em;
    border-radius: 50%;
}

.testimonials .text {
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -0.13px;
    color: #5b636d;
    margin-top: 1.78em;
}

.testimonials .name {
    font-family: "Fraunces", serif;
    font-size: 1.8rem;
    letter-spacing: -0.13px;
    margin-top: 1.78em;
}

.testimonials .title {
    font-size: 1.4rem;
    color: #a7aaad;
    margin-top: 0.65em;
}

.footer-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-images img {
    width: 100%;
}

footer {
    background: #90D4C6;
    color: #458d7e;
    padding: 4em 2.5em 5em;
}

footer a:hover,
footer a:focus {
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

footer li {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.social-media {
    margin: 5.5em 4em 0;
    display: flex;
    gap: 1.75em;
}

.social-media a:hover,
.social-media a:focus {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}